<div>
  <h1>Form</h1>
  {% form 'customer' %}
    <!-- form content -->
    <div class="first-name">
      <label for="first-name">First name</label>
      <input type="text" name="contact[first_name]" id="first-name" />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="contact[email]" id="email" />
    </div>
    <div class="last-name">
      <label for="last-name">Last name</label>
      <input type="text" name="contact[last_name]" id="last-name" />
    </div>

    <div class="submit">
      <input type="submit" value="Create" />
    </div>
  </div>
  {% endform %}
</div>
{% schema %}
  {
    "name": "MM Contact",
    "tag":"section",
    "class":"section",
    "settings": [],
    "presets":[
      {
        "name":"MM Contact"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}